
@{
    ViewData["Title"] = "TestSayfa1";
    string postMesaj = "";
    


}

<h1>TestSayfa1</h1>
<a href="@Url.Action("TestSayfa","Home")">Test Sayfaya Git</a>
<form method="post">
    <input type="submit" value="çalıştır" />

</form>
