
@{
    ViewData["Title"] = "TestSayfa2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TestSayfa2</h1>
<div>
    <b>
        @ViewData["UrunAdi"]
    </b>
    <br />
    <b>
        @ViewBag.UrunModel
    </b>
</div>
